*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f0f0f0;
    cursor: pointer;
  }
h1{
    color: orange;
    font-size: 3em;
    margin-top: 0.5em;
 }
.navbar{
    background-color: rgb(229, 224, 224);
    overflow: hidden;
    height: 8em;
  }
  
#search{
    width: 50%;
    height: 2em;
    border-radius: 1em;
    padding: 0.5em;
    font-size: 1em;
    margin-top: 2rem;
    border: none;
    
  }

button {
    background-color: #f2882b; 
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    margin-top: 1em;
    border-radius: 1em;
    margin-left: 1em;
  }

button:hover {
    background-color: #f9a53e; 
  }
i{
  font-size: 3em;
  color: #f2882b;
  margin-left: 0.5em;
}

#countries-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
    margin-top: 2em;
  }



#result-msg{
  color: #f2882b;
  margin-top: 0.5em;
}

#chart {
  width: 80%;
  margin: 20px auto;
}
.bar {
  background-color: skyblue;
  margin: 5px 0;
  padding: 10px;
  color: black;
  font-weight: bold;
}

